.groups-for-childrens {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.groups-for-childrens__container {
  width: 1216px;
  display: flex;
  flex-direction: row;
}
.groups-for-childrens__container__years-spread {
  margin-left: 112px;
  font-family: Noto Serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: right;
  color: #242C34;
}