.choreografy-programming
    .choreografy-programming__container
        .choreografy-programming__container__title Что входит в программу
        .choreografy-programming__container__lessons
            .choreografy-programming__container__lessons__firstline
                .choreografy-programming__container__lessons__firstline__classic
                    img(src="../../img/choreografy/classical.png", alt="")
                   .choreografy-programming__container__lessons__firstline__classic__one 
                        .choreografy-programming__container__lessons__firstline__classic__one__text 1

                    .choreografy-programming__container__lessons__firstline__classic__object
                        .choreografy-programming__container__lessons__firstline__classic__object__title классический урок
                         

                .choreografy-programming__container__lessons__firstline__parter
                    img(src="../../img/choreografy/parter.png", alt="")
                    .choreografy-programming__container__lessons__firstline__parter__object
                    .choreografy-programming__container__lessons__firstline__parter__one
                        .choreografy-programming__container__lessons__firstline__parter__one__text 2


            .choreografy-programming__container__lessons__secondline
                .choreografy-programming__container__lessons__secondline__stretching
                    img(src="../../img/choreografy/stretching.png", alt="")
                    .choreografy-programming__container__lessons__secondline__stretching__object
                    .choreografy-programming__container__lessons__secondline__stretching__one
                        .choreografy-programming__container__lessons__secondline__stretching__one__text 3

                .choreografy-programming__container__lessons__secondline__performance
                    img(src="../../img/choreografy/performance.png", alt="")
                    .choreografy-programming__container__lessons__secondline__stretching__object
                    .choreografy-programming__container__lessons__secondline__stretching__one
                        .choreografy-programming__container__lessons__firstline__stretching__one__text 4

