.groups-for-childrens
    .groups-for-childrens__container
        .groups-for-childrens__container__years-spread Группы для детей<br>6-8, 9-11, 12-15 лет
        .groups-for-childrens__container__description Профессиональные танцоры во всем мире<br>начинают свой день с урока классического танца,<br>даже если они специализируются в танце модерн,<br>шоу-балете или джазовом танце