.choreografy-classical-dance
    .choreografy-classical-dance__container
        .choreografy-classical-dance__container__fill
            .choreografy-classical-dance__container__fill__text Фундамент сценических видов танца
            .choreografy-classical-dance__container__fill__mini-title Классический<br>танец
            .choreografy-classical-dance__container__fill__selling-text Классический танец — это прекрасная осанка,<br>красивая походка, подтянутое тело, выразительность<br>движений, грация, пластика, хорошая координация.
            .choreografy-classical-dance__container__fill__enlist Записаться на прием
